/* refactor */

.mg-b-5{
margin-bottom: 5px;
}

.mg-b-10{
margin-bottom: 10px;   
}

.mg-b-15{
margin-bottom: 15px;   
}

.mg-b-20{
margin-bottom: 20px;   
}

.mg-b-25{
margin-bottom: 25px;    
}

.uppercase{
    text-transform: uppercase;
}

.uppercase{
    text-transform: capitalize;
}

.float-left{
    float: left;
}

.overflow-hidden{
    overflow: hidden;
}

.bg-gray  {
    background: #e8e8e8 ;
}/* واروح اكتب اسم الكلاس ده في اسماء السكاشن اللي في الhtml */
/*re*/
/* ممكن افصل الاستايل بتاع سيكشن واحد واحطه في فايل لوحده واعمله انكلود في الاتش تي ام ال*/